/*these styles attached to HTML for background purposes*/
.stars, .twinkling, .clouds {
	position:absolute;
	display:flex;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: -3;
	background: #000000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: -2;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: twinkle 300s linear infinite;
}

.clouds{
	z-index: -1;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: clouds 150s linear infinite;
}

@keyframes twinkle {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes clouds {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

/*styles end*/

.App {
  z-index: 1;
  text-align: center;
  max-height: 100%;
}

.bigDiv{
  margin-top: 25%;
  font-size: 3rem;
}

